extends layout.pug

block content
    h3 #{video.views} #{video.views > 1 ? 'views' : 'view'}
    div 
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;